html {
  box-sizing: border-box;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: left;
  align-items: flex-start;

  margin: 0;
}

section img {
  width: 5rem;
}
